%h1 Список книг
%table
	%thead
		%tr
			%th Name
			%th Name_ru
			%th Author
			%th ISBN
			%th Publisher
			%th Caption
	%tbody
		- @books.each do |book|
			%tr
				%td= book.name
				%td= book.name_ru
				%td= book.author
				%td= book.isbn
				%td= book.publisher
				%td= book.caption
%br
= link_to 'Новая книга', new_book_path, class: 'btn'
