.menu-bar
	#dl-menu.dl-menuwrapper
		%ul.dl-menu.dl-menuopen
			%li= link_to t('menu.mainpage'), '/#/', class: 'point'
			%li= link_to t('menu.astronomy'), '/#/library/1', class: 'point'
			%li= link_to t('menu.business'), '/#/library/2', class: 'point'
			%li= link_to t('menu.biography'), '/#/library/3', class: 'point'
			%li
				= link_to t('menu.web'), '#'
				%ul.dl-submenu
					%li.dl-back= link_to t('menu.back'), '#'
					%li= link_to t('menu.common'), '/#/library/16', class: 'point'
					%li= link_to t('menu.html'), '/#/library/17', class: 'point'
					%li= link_to t('menu.css'), '/#/library/18', class: 'point'
					%li
						= link_to t('menu.js'), '#'
						%ul.dl-submenu
							%li.dl-back= link_to t('menu.back'), '#'
							%li= link_to t('menu.js'), '/#/library/22', class: 'point'
							%li= link_to t('menu.jquery'), '/#/library/23', class: 'point'
							%li= link_to t('menu.coffee'), '/#/library/24', class: 'point'
					%li= link_to t('menu.php'), '/#/library/20', class: 'point'
					%li
						= link_to t('menu.frames'), '#'
						%ul.dl-submenu
							%li.dl-back= link_to t('menu.back'), '#'
							%li
								= link_to t('menu.django'), '#'
								%ul.dl-submenu
									%li.dl-back= link_to t('menu.back'), '#'
									%li= link_to t('menu.python'), '/#/library/28', class: 'point'
									%li= link_to t('menu.django'), '/#/library/30', class: 'point'
							%li
								= link_to t('menu.ror'), '#'
								%ul.dl-submenu
									%li.dl-back= link_to t('menu.back'), '#'
									%li= link_to t('menu.ruby'), '/#/library/29', class: 'point'
									%li= link_to t('menu.rails'), '/#/library/31', class: 'point'
							%li= link_to t('menu.angular'), '/#/library/27', class: 'point'
			%li= link_to t('menu.dzz'), '/#/library/5', class: 'point'
			%li= link_to t('menu.design'), '/#/library/6', class: 'point'
			%li= link_to t('menu.languages'), '/#/library/7', class: 'point'
			%li= link_to t('menu.ai'), '/#/library/8', class: 'point'
			%li= link_to t('menu.cook'), '/#/library/9', class: 'point'
			%li= link_to t('menu.programming'), '/#/library/10', class: 'point'
			%li= link_to t('menu.photo'), '/#/library/11', class: 'point'
			%li= link_to t('menu.literature'), '/#/library/12', class: 'point'
			%li= link_to t('menu.signals'), '/#/library/13', class: 'point'
			%li= link_to t('menu.electronics'), '/#/library/14', class: 'point'
			%li= link_to t('menu.poison'), '/#/library/15', class: 'point'
