#dl-menu.dl-menuwrapper
	%button Открыть меню
	%ul.dl-menu
		%li= link_to 'Астрономия', '/#/books/astronomy'
		%li= link_to 'Бизнес', '/#/books/business'
		%li= link_to 'Биографии', '/#/books/biography'
		%li
			= link_to 'Веб-разработка', '#'
			%ul.dl-submenu
				%li.dl-back
					= link_to 'Назад', '#'
				%li= link_to 'Общие материалы', '/#/books/common'
				%li= link_to 'HTML', '/#/books/html'
				%li= link_to 'CSS', '/#/books/css'
				%li= link_to 'JavaScript', '/#/books/js'
				%li= link_to 'PHP', '/#/books/php'
				%li= link_to 'Frameworks', '/#/books/frameworks'
		%li= link_to 'ДЗЗ', '/#/books/gis'
		%li= link_to 'Дизайн', '/#/books/design'
		%li= link_to 'Иностранные языки', '/#/books/languages'
		%li= link_to 'ИИ', '/#/books/ai'
		%li= link_to 'Кулинария', '/#/books/cooking'
		%li= link_to 'Программирование', '/#/books/programming'
		%li= link_to 'Фотография', '/#/books/photo'
		%li= link_to 'Худ. литература', '/#/books/literature'
		%li= link_to 'ЦОС', '/#/books/signals'
		%li= link_to 'Электроника', '/#/books/electronics'
		%li= link_to 'Яды', '/#/books/poisons'
